In [1]:
# Visualizing spending habits with data taken from id card
# Started 12/22/2019
# Jack Liu

In [2]:
# Necessary Imports
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Get HTML file
with open("Transaction History.html") as fp:
    soup = BeautifulSoup(fp)

In [34]:
# Appends data to appropriate lists given a row in the table
def process_row(row):
    cell = rows[i].find_all('td')
    if len(cell) == 5:
        post_time.append(datetime.strptime(cell[0].string, '%m/%d/%Y %H:%M:%S'))
        loc.append(cell[1].string)
        typ.append(cell[3].string)
        amt.append(cell[4].string)
    if len(cell) == 3:
        post_date.append(None)
        loc.append(None)
        post_time.append(None)
        typ.append(cell[1].string)
        amt.append(cell[2].string)

In [35]:
# Returns adjusted locations for places that are actually the same or have different names
def process_location(s):
    t = s.lower()
    if 'wash' in t:
        return 'Washer'
    elif 'dryer' in t:
        return 'Dryer'
    elif 'castle' in t:
        return 'The Castle'
    elif 'O-Hill Aero' in s:
        return 'O-Hill Dining Hall'
    elif 'Runk Dining Aero' in s:
        return 'Runk Dining Hall'
    elif 'FFC' in s:
        return 'Newcomb Dining Hall'
    elif 'crossroads' in t:
        return 'Crossroads'
    elif 'Newcomb Dining To Go' in s:
        return 'N2Go'
    elif 'Einsteins' in s:
        return 'Einsteins Bagels'
    elif 'chick' in t:
        return 'Chick-Fil-A'
    elif 'chik' in t:
        return 'Chick-Fil-A'
    elif 'subway' in t:
        return 'Subway'
    elif 'five guys' in t:
        return 'Five Guys'
    elif 'dumpling' in t:
        return 'Dumpling Food Truck'
    elif 'ValuPort' in s:
        return 'O-Hill Deposit'
    else:
        return s

In [36]:
post_time = []
loc = []
typ = []
amt = []

rows = soup.find('div', id='divHist').find('tbody').find_all('tr')
for i in range(1,len(rows)):
    process_row(rows[i])

data = {'Time':post_time, 'Location':loc, 'Type':typ, 'Amount':amt}
df = pd.DataFrame(data).fillna(method='ffill')
df['Adjusted_Loc'] = df['Location'].apply(process_location)
df.head(10)

,Time,Location,Type,Amount,Adjusted_Loc
0,2019-08-21 16:40:21,Import Loaction,Meal,-50,Import Loaction
1,2019-08-21 16:40:21,Import Loaction,Debit,$-150.00,Import Loaction
2,2019-08-21 16:49:48,Import Loaction,Meal,-10,Import Loaction
3,2019-08-23 12:22:01,OHill ValuPort III,Debit,$-20.00,O-Hill Deposit
4,2019-08-23 12:22:08,OHill ValuPort III,Debit,$-20.00,O-Hill Deposit
5,2019-08-23 12:22:23,OHill ValuPort III,Debit,$-20.00,O-Hill Deposit
6,2019-08-23 12:25:51,O-Hill Aero 1 Loc 473,Meal,1,O-Hill Dining Hall
7,2019-08-23 18:41:53,O-Hill Aero 1 Loc 473,Meal,1,O-Hill Dining Hall
8,2019-08-24 08:32:16,O-Hill Aero 1 Loc 473,Meal,1,O-Hill Dining Hall
9,2019-08-24 14:07:13,ChickFilA (4414),Debit,$7.49,Chick-Fil-A

In [20]:
from datetime import datetime

In [27]:
tim = '08/24/2019 14:07:13'
timm = '08/24/2019'

In [31]:
d = datetime.strptime(tim, '%m/%d/%Y %H:%M:%S')

In [33]:
d.weekday()

5

In [60]:
count = 0
for i in df.iloc[:,0]:
    if i.hour>22 or i.hour<2:
        count+=1
print(count)

11

In [61]:
count = 0
for i in df.iloc[:,0]:
    if i.hour>20 and i.hour<23:
        print(i)
print(count)

2019-09-07 22:23:54
2019-09-08 21:09:33
2019-09-16 22:32:41
2019-09-23 21:28:17
2019-09-23 22:19:54
2019-10-01 21:37:22
2019-10-12 22:25:44
2019-10-13 21:39:02
2019-10-15 21:38:17
2019-10-20 22:29:03
2019-10-21 22:39:59
2019-10-22 22:13:46
2019-10-28 21:48:41
2019-11-11 22:03:20
2019-11-11 22:52:11
0

In [62]:
df['Adjusted_Loc'].value_counts()

O-Hill Dining Hall           134
Newcomb Dining Hall           74
Einsteins Bagels              26
Crossroads                    18
Runk Dining Hall              17
The Castle                    16
N2Go                          11
Washer                        10
Dryer                         10
Chick-Fil-A                   10
O-Hill Deposit                 3
Import Loaction                3
Dumpling Food Truck            2
Farmer's Market - Tapingo      1
Residential-DomeorSpecial      1
West Range Cafe                1
Subway                         1
Five Guys                      1
Name: Adjusted_Loc, dtype: int64